extends layout

block content
  h1= title
  p Welcome to #{title}!
  p Number of Messages: #{no_messages}
  p Number of Users: #{no_users}

  each message in messages
    ul 
      li
        div.message-block
          p.date #{message.date_added}
          h3.user #{true=== admin ? message.author.username : 'Anonymous User' } 
          p.messageT #{message.text}
