extends layout

block content
  h1= title
  p Welcome to #{title}!
  p Number of Messages: #{no_messages}
  p Number of Users: #{no_users}

  each message in messages
    ul 
      li 
        p #{false=== admin ? '' : message.author.first_name} #{message.text} 
        p #{message.date_added}
