extends layout

block content
  h1= title
  p Welcome to #{title}!
  p Number of Messages: #{no_messages}
  p Number of Users: #{no_users}

  each message in messages 
    ul 
      li #{false=== admin ? '' : message.author} #{message} #{message.date_added}

  each user in users
    ul 
      li #{user}